@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
-----------------------------
Pequenas dispositivos (celulares, 600px e abaixo)
Celular: até 600px
Dispositivos médios (tablets, 600px a 1024px)
Tablet: 601px a 1024px
Dispositivos grandes (desktops, 1025px a 1440px)
Desktop: 1025px a 1440px
*/

@media print { /* IMPRESSÃO */
    body {
    background-image: url(../imagens/back-print.jpg);  /*  DESNECESSÁRIO */
    font-family: 'Courier New', Courier, monospace;
    
    }
    main {
        border: 2px solid black;
        width: 90vw;
    }
    main h1 {
    text-shadow: none;
    color: black;
    }

    main::after {
        content: 'Essa impressão foi feita através do curso de HTML e CSS do canal Curso em Vídeo.';
        text-decoration: overline;
    }
    img.phone { display: none; }

    img.tablet { display: none;}

    img.desktop { display: none; }

    img.print { display: block; }

    img.tv { display: none;}
}



@media screen and (min-width: 601px) and (max-width: 1024px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img.phone { display: none; }

    img.tablet { display: block;}

    img.desktop { display: none; }

    img.print { display: none; }

    img.tv { display: none;}
    
}

@media screen and (min-width: 1025px) and (max-width: 1440px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    main {
        width: 600px;
        margin-top: 200px;
    }
    img.phone { display: none; }

    img.tablet { display: none;}

    img.desktop { display: block; }

    img.print { display: none; }

    img.tv { display: none;}
}

@media screen and (min-width: 1441px) { /* GRANDES TELAS (TV) */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    main {
        width: 800px;
    }
    img.phone { display: none; }

    img.tablet { display: none;}

    img.desktop { display: none; }

    img.print { display: none; }

    img.tv { display: block;}
}