@charset "UTF-8";
body {

    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.452), rgba(0, 0, 0, 0.61));
    background-attachment: fixed;
    margin: auto;
}

h1 {
    font-family: 'Rye';
    color: rgba(0, 0, 0, 0.781);
    text-align: center;
}
p  {
     color: #030303;
     text-align: center;

}
h2 {
    text-align: center;
}

h1#principal 
{
    color: red;
}

.gabi{
    padding: auto;

}
.gabi1 {
    text-align: center;
}