@charset "UTF-8";
    @charset "UTF-8";
/* Mobile First */

/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    background-color: white;
    font-size: 10px;
    color: white;
}

/* Main container */
main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-bottom: 100px;
    background-color: #252525;
    border-radius: 25px;
}

#principal {
    background-image: url(imagens/backteste1att.jpg);
    background-color: white;
}


/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    padding-top: 10px;
    /*background-color: #E8931F;*/
    background-image: url(imagens/testepart2.jpg);
    background-size: contain;
    
}

/* Logo */
.logomenu {
    width: 150px;
    height: 150px; 
}

.h2topo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    margin-top: 10px;
    color: black ;
    background-color: #E8931F;
    border-radius: 25px;
    padding: 10px;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding-right: 25px;
    padding-left: 25px;
    
}

#topomenu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8931F;
}

#open-close {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #E8931F;
}

.msgfuncionamento {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    color: rgb(158, 26, 24);
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
}

.msghorariofuncionamento {
    color: black;
    padding: 2px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 0.8rem;
    cursor: pointer;
    
}

.btn-fechado-horarios {
    color: white;
    background-color: rgb(158, 26, 24);
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}


/* =================================== */

/* MENU TOPO */
.navbar {
    list-style-type: none; /* Remove os marcadores de lista */
    display: flex; /* Transforma em um container flexível */
    justify-content: center; /* Centraliza os itens horizontalmente dentro do .navbar */
    align-items: center; /* Centraliza os itens verticalmente (se o .navbar tiver altura definida) */
    gap: 30px; /* Espaçamento entre os itens */
    margin: 15px auto; /* Centraliza o .navbar horizontalmente e adiciona margem superior/inferior */
    width: fit-content; /* Faz a largura se ajustar ao conteúdo dos itens */
  
}

.navbar li a {
    background-color: #E8931F; /* Cor de fundo para CADA item */
    border-radius: 20px; /* Borda arredondada para CADA item */
    padding: 8px 15px; /* Preenchimento interno para CADA item (texto ao redor) */
    text-decoration: none; /* Remove sublinhado dos links */
    color: black; /* Cor do texto do link (branco para contrastar com o laranja) */
    font-size: 0.9rem; /* Tamanho da fonte do link */
    display: inline-block; /* Crucial para padding e background funcionarem corretamente */
}



/* =========================== */

/* TITULO PRINCIPAL */

/* Parágrafo do menu */
.pmenu {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 1.3rem;
    color: black;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 25px;
    font-size: 1rem;
    margin-top: -10px;
}



/* CONTEUDO PRINCIPAL - CARDS, IMG, DESCRIÇÕES, PREÇO */
.item-pai {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid gray;
    padding: 10px 0;
    width: 360px;
    margin: auto;
    border: 1px solid gray;
    /*border-radius: 10px;*/
    box-shadow: 1px 1px 8px 1px gray;
}
/*Teste */
.card-pai {
    display: flex;
    gap: 15px;
}

.card-image {

    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.card-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;


}



.card-pai li {
    list-style-type: none;
    padding: 2px;
    font-size: 0.8rem;
}

/* CONTROLE DE IMAGENS, SANDUICHES, BEBIDAS, AÇAI... */
.fotosanduba {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.fotobebidas {
    width: 130px;
    height: 120px;

}





/* BOTÕES DO PRODUTO, DIV PRINCIPAL, CONTROLE DOS BOTÕES */
#botoes-produto {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AdicionarCarrinho {
    font-size: 0.7rem;
    border: none;
    border-radius: 25px;
    background-color: #E8931F;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;

}



/* CONTROLE DE TEXTOS, SUBTITULOS, PREÇOS E DESCRIÇÕES */
.titulo-produtos {
    font-size: 1rem;
    padding-bottom: 5px;
    color: black;

}


.descricao-produtos {
    padding-bottom: 3px;
    font-size: 0.8rem;
    line-height: 1.4;
    color: black;
}

.descricao-ingredientes {
    font-size: 0.8rem;
    line-height: 1.4;
    color: black;
    padding-bottom: 5px;
}

span {
    font-size: 0.8rem;
    font-weight: bolder;
    display: block;
    text-align: right;
    color: black;
}

.spanmenu {
    color: black;
    font-size: 0.8rem;
}

/* Cor de texto padrão para h4, p, span */


/* Links */
a {
    text-decoration: none;
    color: white;
}



/* CONTROLE DO MENU INFERIOR */

footer {
  position: fixed; /* Isso tira o elemento do fluxo normal e o posiciona em relação à viewport */
  bottom: 0; /* Garante que ele fique fixo na parte inferior da tela */
  width: 100%;  /* Faz com que ele ocupe toda a largura da tela */
  background-Color: #E8931F; /* Mantenha a cor de fundo, ou defina uma se ainda não tiver */
  padding: 10px 0; /* Ajuste o padding conforme necessário para dar espaço interno */
  z-index: 1000; /* Garante que o footer fique acima de outros elementos na página */


}

/* MENU INFERIOR */

.navbarinferior {
    background-Color: #E8931F;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

}

.navbarinferior li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    gap: 5px;
    font-size: 1.3rem;
    color: black;
    /*transition: transform 0.8s ease-out;*/
}


/*.navbarinferior li a:hover {
    background-Color: #edbb5a;
    transform: translateY(-10px);
}*/

/* CONTROLAR CONTADOR DO CARRINHO */

.carrinho-item {
    position: relative; /* Define este elemento como referência para posicionamento absoluto dos filhos */
}

.contcarrinho {
    position: absolute; /*Permite posicionar o contador em relação ao .carrinho-item   */
    top: -5px; /* Move o contador um pouco para cima do ícone */
    right: 5px;  /* Move o contador para a direita, colando no canto do ícone */
    background-color: red;  /* Cor de fundo da bolinha do contador */
    color: white; /* Cor do texto (número) do contador */
    font-size: 0.7rem; /* Tamanho da fonte dentro da bolinha */
    width: 16px; /* Largura da bolinha */
    height: 16px; /* Altura da bolinha */
    display: flex; /* Usa Flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o número */
    align-items: center; /* Centraliza verticalmente o número */
    border-radius: 50%; /* Transforma o quadrado em um círculo (bolinha) */
    font-weight: bold;  /* Deixa o número em negrito */
    z-index: 10;  /* Garante que a bolinha fique na frente de outros elementos se houver sobreposição */
}

#mensagem-carrinho-vazio {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #303030;
    color: white;
    padding: 8px 15px; /* Reduzi um pouco o padding para diminuir o tamanho geral */
    margin-top: -25px;
    z-index: 1000;
    font-weight: bold;
    text-align: center;
    width: auto; /* Permite que a largura se ajuste ao conteúdo, até o max-width */
    height: auto; /* Garante que a altura se ajuste, quebrando linhas se necessário */
    white-space: nowrap; /* Permite que o texto quebre linhas */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-size: 0.6em; /* Opcional: Reduz o tamanho da fonte um pouco para economizar espaço */
}





/* =================================== */

/* MODAL E CONTROLE DO MODAL */



.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1000; /* Garante que o modal fique acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: #303030;
}

.modal-content {
    background-color: #303030;
    margin: 15% auto; /* Centraliza o modal na tela */
    padding: 20px;
    width: 80%; /* Largura do modal */
    max-width: 500px; /* Largura máxima do modal */
    border: 1px solid #888;
    border-radius: 10px; /* Bordas arredondadas */
    position: relative; /* Para posicionar o botão de fechar */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-content li {
    list-style-type: square;
}

/* BOTÃO USADO PARA ABRIR O MODAL */

.botaomodal {
    color: #90cafc;
    text-decoration: underline;
}

.descricao-produtos-modal {
    padding-bottom: 3px;
    font-size: 0.8rem;
    line-height: 1.4;
    color: white;
    margin: auto;
    text-align: center;
}

.fotolanchemodal {
    display: flex;
    justify-content: center;
}

/* MODAL HORÁRIOS */
#modalhorarios {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 60%;
    margin-top: 100px;
    display: none;

}

.contmodalhorarios {
    background-color: #303030;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #888;
    border-radius: 10px;
    position: relative;

}

    .h3modal {
        padding: 5px;
        color: #fe7f48;
    
    }
    .pmodalhorario {
        padding: 5px;
        font-size: 0.8rem;
         
    }

    .modal-sub-titulos {
        margin-right: 50px;
        padding: 10px;
        /*color: #878BAD;*/
        font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 0.9rem;
        
    }
    .modal-dia {
        display: flex;
        justify-content: space-between;
        padding-top: 4px;
        align-items: center;
        font-size: 0.8rem;
        font-weight: bold;
    
    }

    .formapagamento-modal {
        padding: 2px;
        font-size: 0.8rem;
    }

    .btn-fechado-horarios {
        cursor: pointer;
    }

    .botao-horarios-P2 {
        cursor: pointer;
        text-decoration: underline;
    }
/*=================================================== */

/*  MODAL DO CARRINHO: */
.modal-content-carrinho {
    background-color: #303030;
    margin: 15% auto; /* Centraliza o modal na tela */
    padding: 20px;
    width: 80%; /* Largura do modal */
    max-width: 500px; /* Largura máxima do modal */
    border: 1px solid #888;
    border-radius: 10px; /* Bordas arredondadas */
    position: relative; /* Para posicionar o botão de fechar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}

.h3Carrinho {
    margin: auto;
    margin-bottom: 15px;
}



.item-do-carrinho {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid gray;
    box-shadow: 1px 1px 8px 1px gray;
    padding: 10px 5px;
    margin: 10px;

}

#finalizar-compra {
    margin-top: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
}

#finalizar-compra:hover {
    background-color: #edbb5a;
    color: black;
}

.precoCarrinho {
    margin: 5px;
    padding-top: 30px;
    /*text-align: left;*/
}

.precoCarrinhoTotal {
    font-size: 1rem;
    text-align: center;
}

/* Botões do Carrinho */
.controles-quantidade {

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-top: 7px;
    margin-bottom: 20px;

}


.btnDiminuir, .btnAumentar, .btnRemover {
    color: black;
    background-Color: white;
    border: 1px solid white;
    cursor: pointer;
    /* border-radius: 5px; */ /* Cantos arredondados */
    font-weight: bold;
    font-size: 1rem;
    width: 15px; /* Largura fixa */
    height: 15px; /* Altura fixa */
    display: flex; /* Para centralizar o + e - */
    justify-content: center;
    align-items: center;
    /*padding-top: 1px;*/

}

.btnDiminuir {
    padding-bottom: 2px;
}



.btnRemover {
    border-radius: 5px;
    width: 22px;
    height: 22px;
    padding: 0;
    background-color: #303030;
    color: white;
}

.btnAumentar:hover,
.btnDiminuir:hover {
    background-color: #edbb5a; /* Efeito de hover */
    color: black;
}

.quantidade-item {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.nomeProduto {
    text-align: center;
}

/* MODAL DADOS */

/* MODAL DADOS */

.ConteudoModalDados {
    background-color: #303030;
    margin: 15% auto;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border: 1px solid #888;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column; /* Mude aqui para 'column' */
    justify-content: center; /* Mantive isso, mas pode ser ajustado se precisar de espaçamento */
    align-items: center; /* Adicione isso para centralizar os itens horizontalmente dentro do modal */
    font-size: 1rem;
    
}



#divBotoesDados {
    display: flex;
    flex-direction: row; /* Garante que os botões fiquem lado a lado */
    justify-content: center; /* Centraliza os botões */
    padding-top: 15px;
    gap: 15px;
}

#AvancarPedido, #VoltarPedido {
    margin-top: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
}

/* MODAL FINALIZAR PEDIDO */

.ContModalFazerPedido {
    background-color: #303030;
    margin: 15% auto; /* Centraliza o modal na tela */
    padding: 20px;
    width: 80%; /* Largura do modal */
    max-width: 500px; /* Largura máxima do modal */
    border: 1px solid #888;
    border-radius: 10px; /* Bordas arredondadas */
    position: relative; /* Para posicionar o botão de fechar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}

#voltarPedido, #Finalizar-Pedido {
    border-radius: 25px;
    background-Color: white;
    color: lightblue;
    cursor: pointer;
    border: none;
    padding: 5px;
    margin: 5px;
}

/* FORMULÁRIO */

.CformEntrega {

    display: flex;
    flex-direction: column;

}



#formEntrega {
    display: none;
    
}

.opcao-pedido {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.opcao-dados {
    display: flex;
    flex-direction: column;
}

.close-button-dados {
    position: absolute;
    top: 15px;
    right: 15px;
    
    
}

#nome, #cell, #Bairro, #Rua, #Numero, #complemento {
    margin-bottom: 10px;
    margin-top: 3px;
}



 /* ======================================= */
/* Responsividade para telas pequenas */
@media screen and (max-width: 400px) {
    .navbar {
    
        width: 100%;
        padding: 10px 0;
    }

    .navbar li a {
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
    .item-pai {
        width: 100%;
    
    
    }

}

 /* ======================================= */
/* Responsividade para telas pequenas */
@media screen and (max-width: 400px) {
    .navbar {
    
        width: 100%;
        padding: 10px 0;
    }

    .navbar li a {
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
    .item-pai {
        width: 100%;
    
    
    }

}