@charset "UTF-8";
/* Mobile First */

/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    background-color: #191919; 
    font-size: 10px;
    color: white;
    
    
}

/* Main container */
main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-bottom: 100px;
    background-color: #252525; 
    border-radius: 25px;
}




/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    padding-top: 10px;
}

/* Logo */
.logomenu {
    width: 100px;
    height: 100px;
}

/* =================================== */

/* MENU TOPO */
.navbar {
    font-size: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #303030;
    width: 360px;
    border-radius: 25px;
    margin-bottom: 15px; 
    
}

.navbar li a {
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navbar li a:hover {
    background-color: #1a1a1a;
    color: white;
}

/* =========================== */

/* TITULO PRINCIPAL */
h2 {
    color: white;
    background-color: #303030;
    border-radius: 25px;
    text-align: center;
    height: 30px;
    width: 200px;
    font-size: 1.7rem;
}

h2:hover {
    background-color: #1a1a1a;
    color: white;
}

/* Parágrafo do menu */
.pmenu {
    font-size: 1.3rem;
    color: white;
    text-align: center;
    font-weight: 400;
}



/* CONTEUDO PRINCIPAL - CARDS, IMG, DESCRIÇÕES, PREÇO */
.item-pai {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    background-color: #303030;
    border: 1px solid gray;
    padding: 10px 0;
    width: 360px;
    margin: auto;
    border: 1px solid gray;
    /*border-radius: 10px;*/
    box-shadow: 1px 1px 8px 1px gray;
    
}
/*Teste */
.card-pai {
    display: flex;
    gap: 15px;
    


}

.card-image {
    
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.card-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;


}



.card-pai li {
    list-style-type: none;
    padding: 2px;
    font-size: 0.8rem;
}

/* CONTROLE DE IMAGENS, SANDUICHES, BEBIDAS, AÇAI... */
.fotosanduba {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.fotobebidas {
    width: 130px;
    height: 120px;
    
}





/* BOTÕES DO PRODUTO, DIV PRINCIPAL, CONTROLE DOS BOTÕES */
#botoes-produto {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    font-size: 0.7rem;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    
}

button:hover {
    background-color: #edbb5a;
    color: black;
}

/* CONTROLE DE TEXTOS, SUBTITULOS, PREÇOS E DESCRIÇÕES */
.titulo-produtos {
    font-size: 1rem;
    padding-bottom: 5px;
    
}


.descricao-produtos {
    padding-bottom: 3px;
    font-size: 0.8rem;
    line-height: 1.4;
    color: white;
}

.descricao-ingredientes {
    font-size: 0.8rem;
    line-height: 1.4;
    color: white;
    padding-bottom: 5px;
}

span {
    font-size: 0.8rem;
    font-weight: bolder;
    display: block;
    text-align: right;
    color: green;
}

.spanmenu {
    color: white;
    font-size: 0.8rem;
}

/* Cor de texto padrão para h4, p, span */


/* Links */
a {
    text-decoration: none;
    color: white;
}



/* CONTROLE DO MENU INFERIOR */

footer {
  position: fixed; /* Isso tira o elemento do fluxo normal e o posiciona em relação à viewport */
  bottom: 0; /* Garante que ele fique fixo na parte inferior da tela */
  width: 100%;  /* Faz com que ele ocupe toda a largura da tela */
  background-Color: #303030; /* Mantenha a cor de fundo, ou defina uma se ainda não tiver */
  padding: 10px 0; /* Ajuste o padding conforme necessário para dar espaço interno */
  z-index: 1000; /* Garante que o footer fique acima de outros elementos na página */


}

/* MENU INFERIOR */

.navbarinferior {
    background-Color: #303030;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

}

.navbarinferior li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    gap: 5px;
    font-size: 1.3rem;
    /*transition: transform 0.8s ease-out;*/
}


/*.navbarinferior li a:hover {
    background-Color: #edbb5a;
    transform: translateY(-10px);
}*/

/* CONTROLAR CONTADOR DO CARRINHO */

.carrinho-item {
    position: relative; /* Define este elemento como referência para posicionamento absoluto dos filhos */
}

.contcarrinho {
    position: absolute; /*Permite posicionar o contador em relação ao .carrinho-item   */
    top: -5px; /* Move o contador um pouco para cima do ícone */
    right: 5px;  /* Move o contador para a direita, colando no canto do ícone */
    background-color: red;  /* Cor de fundo da bolinha do contador */
    color: white; /* Cor do texto (número) do contador */
    font-size: 0.7rem; /* Tamanho da fonte dentro da bolinha */
    width: 16px; /* Largura da bolinha */
    height: 16px; /* Altura da bolinha */
    display: flex; /* Usa Flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o número */
    align-items: center; /* Centraliza verticalmente o número */
    border-radius: 50%; /* Transforma o quadrado em um círculo (bolinha) */
    font-weight: bold;  /* Deixa o número em negrito */
    z-index: 10;  /* Garante que a bolinha fique na frente de outros elementos se houver sobreposição */
}





/* =================================== */

/* MODAL E CONTROLE DO MODAL */



.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1000; /* Garante que o modal fique acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgba(148, 140, 140, 0.733); 
    
}

.modal-content {
    background-color: #303030;
    margin: 15% auto; /* Centraliza o modal na tela */
    padding: 20px;
    width: 80%; /* Largura do modal */
    max-width: 500px; /* Largura máxima do modal */
    border: 1px solid #888;
    border-radius: 10px; /* Bordas arredondadas */
    position: relative; /* Para posicionar o botão de fechar */
}

/* BOTÃO USADO PARA ABRIR O MODAL */

.botaomodal {
    color: #90cafc;
    text-decoration: underline;
}


 /* ======================================= */
/* Responsividade para telas pequenas */
@media screen and (max-width: 400px) {
    .navbar {
        
        width: 100%;
        padding: 10px 0; 
    }

    .navbar li a {
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
    .item-pai {
        width: 100%;
        
        
    }
    
}